:root {
  background-color: #ffffff;
  color: #333e55;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2c5aff;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: #f7f7f7;
  padding: 0.6em 1.2em;
  font-size: 14px;
  font-weight: bolder;
  background-color: #6077ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #90a0ff;
}
