spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hylian?useUnicode=true&characterEncoding=utf-8
    username: root
    password: ${weapon/mysql/password}
    druid:
      public-key: ${weapon/mysql/public-key}
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000;config.decrypt=true;config.decrypt.key=${spring.datasource.druid.public-key}

weapon:
  common:
    etcd:
      client:
        username: root
        password: zhuomai@2025!
        endpoints:
          - http://127.0.0.1:2379
    redis:
      client:
        mode: single
        connection-pool-size: 200
        password: ${weapon/redis/password}
        address: 127.0.0.1:6379
        db: 0
  aliyun:
    oss:
      client:
        endpoint: http://oss-cn-hangzhou.aliyuncs.com
        socket-timeout-ms: 3000
        connection-timeout-ms: 3000
        retry-cnt: 3
hylian:
  client:
    appId: hylian
    appSecret: 123456

app:
  server:
    aspectLogFile: ./log/aspect/web.log
    oss-region: cn-hangzhou
    oss-base-directory: test
    default-tenant: e9c2227a9d7da6c1241b8c6782061b7f
    wx-version: develop
    mini-version: developer
    wechat-notice-new-user: 8BQJJagGrk2G8bwUZJ0p4v8xr3uXpCyut-B1U2pHAVw
    wechat-notice-user-audit: B4E0XRqlSC3Nnc70NPTDxHAUVZl-iAPmvAZh-x2DvNs